{% extends "layout.html" %}
{% load static %}
{% block content %}

<div class="exercise-section ml-5 mr-5 py-5">
    
    {% for i in results %}
    <button type="button" id="{{ i.url }}" data-modal-target="{{ i.name }}" data-modal-toggle="{{ i.name }}" onclick="get_video(this.id)"
        class="block m-4 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 exercise-card">
        <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">{{ i.name }}</h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">Difficulty Level: {{ i.difficulty.name }}</p>
        <p class="font-normal text-gray-700 dark:text-gray-400 ">Muscles involved: 
            {% for j in i.muscles %}{{ j.name }} <br>{% endfor %}
        </p>
    </button>
    <div id="{{i.name}}" tabindex="-1" aria-hidden="true" style="scroll-behavior: smooth;"
        class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-6xl max-h-full" style="scroll-behavior: smooth;">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-900 modal" style="scroll-behavior: smooth;">
                <!-- Modal header -->

                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <img aria-hidden="true" class="w-7 h-7 mr-2 -ml-1"
                        src="https://metal-static.onrender.com/favicon-32x32.png" style="float: left; "
                        fill="url(#b)" /></img>
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        {{ i.name }}
                    </h3>

                    <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="{{i.name}}">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                    <div class="inline-flex flex-wrap items-center justify-center" id="cont-{{ i.url }}">

                    </div>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                    <button data-modal-hide="{{ i.name }}" type="button"
                        class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Nice!
                        </span>
                    </button>
                    <button data-modal-hide="{{ i.name }}" type="button"
                        class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Bye bye</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
</div>
<script src="https://metal-static.onrender.com/index1.js"></script>
{% endblock content %}