appdirs
asgiref
beautifulsoup4
bs4
certifi
charset-normalizer
colorama
cssselect
Django
fake-useragent
idna
importlib_metadata
lxml
parse
pyee
pyppeteer
pyquery
requests
requests-html
soupsieve
sqlparse
tqdm
typing_extensions
tzdata
urllib3
w3lib
websockets
zipp
dj-static